<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= config.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <!-- Very very crucial the below line, to connect to a namespace dynamically -->
    <script>const socket = io("/<%= config.id %>");</script>
</head>
<body>
    <div class="result">
        Current calculations -
        <div class="result__row">
            <div class="result__thread--heading">Thread</div>
            <div class="result__data--heading">Data</div>
            <div class="result__status--heading">Status</div>
        </div>
    </div>
    <div class="final">        
    </div>
</body>
<script src="/bundle.js" ></script>
<script src= "/socket.js" ></script>
</html>