*, *::before, *::after {
    box-sizing: border-box;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 50vh;
    margin: 5px 0;
}

.final {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    max-height: 50vh;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.final__data{
    padding: 2px;
}

.problemList__heading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.problem__container{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.problem__form{
    margin: 5px;
    text-align: center;
}

.button{
    display: inline-block;
    background: bisque;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 2em auto;
    transition: all .25s linear;
}

.button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    transform: translateY(-5px);
}

.hide{
    display: none;
}